.git
.venv
venv
__pycache__
*.pyc
.DS_Store

debug-images/*
!debug-images/.gitignore

samples/raw/*
!samples/raw/.gitignore
!samples/raw/.gitkeep
samples/debug/*
!samples/debug/.gitignore

esphome/.esphome
esphome/secrets.yaml
service/config.local.yaml
